{% extends 'shopapp/base.html' %}

{% load i18n %}

{% block title %}
    {% translate 'Product' %}  #{{ product.pk }}
{% endblock %}

{% block body %}
    <h1>{% translate 'Product' %}:
        <strong style="color: blue">{{ product.name }}</strong>
    </h1>
    <div class="container-fluid">
        <h3>{% translate 'Description' %}: <em> {{ product.description }} </em></h3>
        <p><strong>{% translate 'Price' %}: </strong>{{ product.price }}</p>
        <p><strong>{% translate 'Discount' %}: </strong> {{ product.discount }}</p>
        <p><strong>{% translate 'Archived' %}: </strong> {{ product.archived }}</p>
        <p><strong>{% translate 'Crated by' %}: </strong> {{ product.created_by }}</p>

        <div class="container">
            {% if product.preview %}
                <img  src="{{ product.preview.url }}" alt="{{ product.preview.name }}" style="width: 400px">
            {% endif %}
        </div>

        <h3>{% translate 'Images' %}:</h3>
        <div class="container">
            <div>
                {% blocktranslate count image_count=product.images.all|length %}
                    There is only one image.
                    {% plural %}
                    There are {{ image_count }} images.
                {% endblocktranslate %}
            </div>
            {% for img in product.images.all %}
                <div>
                    <img src="{{ img.image.url }}" alt="{{ img.image.name }}" style="width: 200px">
                    <div>{{ img.description }}</div>
                    <br>
                </div>
            {% empty %}
            <div>{% translate 'No image upload yet' %}</div>
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid">
        {% url 'shopapp:product_update' pk=product.pk as update_product_url %}
        {% url 'shopapp:product_delete' pk=product.pk as archive_product_url %}
        {% url 'shopapp:products_list' as list_product_url %}

        {%  blocktranslate %}
        <div >
            <a href="{{ update_product_url }}">Update Product</a>
        </div>
        <br>
        <div>
            <a href="{{ archive_product_url }}">Arhived Product</a>
        </div>
        <br>
        <div>
            <a  href="{{ list_product_url }}"> Back to products list </a>
        </div>
        {%  endblocktranslate %}

    </div>


{% endblock %}